.navbar {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: fit-content;
  max-width: 900px;
  height: 80px;
  background-color: #101010;
  padding: 1rem 2.5rem;
  border-radius: 50px;
  z-index: 1000;
  transition: opacity 250ms ease-in-out;
  border: 1px solid rgba(88, 88, 88, 0.5);
  box-shadow: 0 14px 42px 0 rgba(20, 20, 43, 0.17);

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
  }

  &__logo {
    color: #fff;
  }

  &__nav-items {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    // justify-content: center;
    gap: 1rem;

    a {
      height: fit-content;
      position: relative;
      font-family: "Onset", sans-serif;
      font-weight: 400;
      font-size: 1.125rem;
      color: white;
      text-decoration: none;
      z-index: 10;
      padding: 1rem 1.75rem;
      border-radius: 50px;
      cursor: pointer;
      transition: background-color 300ms ease, color 300ms ease;

      &:hover {
        background-color: #5858585f;
      }
    }

    @media (max-width: $mediumScreen) {
      display: none;
    }
  }

  &__item--active {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #5858585f;
    z-index: 1;
  }

  @media (max-width: $tabletScreen) {
    position: relative;
    top: 1.5rem;
    bottom: 0;
  }
}
