// Screens
$largeScreen: 1058px;
$mediumScreen: 970px;
$tabletScreen: 748px;
$mobileScreen: 420px;

// Colors
$primaryWhite: #fff;
$secondaryWhite: #f8f8f8;
$grey: #585858;
$darkGrey: #bebec1;
$black: #101010;
$orange: #ff7b43;

// Font Size
$heading1: 5rem;
$heading1Medium: 4.5rem;
$heading1Small: 3rem;
$heading2: 4.5rem;
$heading2Medium: 3rem;
$heading2Small: 2.5rem;
$heading3: 3rem;
$heading3Medium: 2.5rem;
$heading3Small: 2rem;
$paragraph: 1.125rem;
$paragraphMedium: 1.095rem;
$paragraphSmall: 1.05rem;
$buttonFont: 1.125rem;
$buttonFontMedium: 1.075rem;
